body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

.nav {
  border-bottom: 4px solid black;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.box {
  width: 400px;
  height: 200px;
  border: 4px solid black;
  margin: 0 40px;
}

.side-btn {
  font-size: 40px;
  padding: 10px 20px;
}

.down {
  margin-top: 50px;
}

.down-btn {
  font-size: 30px;
  padding: 10px 30px;
}
