body {
  font-family: Arial;
  margin: 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #eee;
}

.layout {
  display: flex;
  height: 70vh;
}

.left, .right {
  width: 15%;
  padding: 10px;
}

.center {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 2px solid black;
  padding: 40px;
  text-align: center;
}

.logo {
  border: 2px solid red;
  padding: 20px;
  margin-bottom: 10px;
}

.arrow {
  font-size: 30px;
  background: none;
  border: none;
}

.bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}
